<tr>
  <td>
    <table>
    <% paragraph_match.source_paragraphs.each do |p| %>
      <tr>
      <td>
        <%= p.position %>
      </td>
      <td><%= p.content %></td>
      </tr>
    <% end %>
    </table>

  </td>
  <td>
    <table>
    <% paragraph_match.target_paragraphs.each do |p| %>
      <tr>
      <td>
        <%= p.position %><br/>
      </td>
      <td><%= p.content %></td>
      </tr>
    <% end %>
    </table>
  </td>
</tr>
