<h1>Epub item</h1>
<p><%= @epub_item.name %> (<%= @epub_item.position %>)</p>
<p><%= link_to @epub_item.epub_book.title, epub_book_path(@epub_item.epub_book) %> </p>
<p><%= @epub_item.content %> </p>
