<h1>Book zips</h1>

<ul>
  <% @book_zips.each do |book_zip| %>
    <li>
      <%= link_to book_zip.title, book_zip_path(book_zip) %>
      <%= link_to 'Destroy', book_zip, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>
