<h2> <%= link_to @epub_book.title, epub_book_path(@epub_book) %> chapters </h2>

<ul>
  <% @chapters.each do |chapter| %>
    <li>
      <%= link_to chapter.title, epub_book_chapter_path(@epub_book, chapter) %>
      (<%= chapter.paragraphs[0].content[..100] + '...' %>)
    </li>
  <% end %>
</ul>
